/*
   jueves, 25 de enero de 201805:38:11 p.m.
   Usuario: 
   Servidor: JUANBERMUDEZ\SQL2005
   Base de datos: Remisiones
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar esta secuencia de comandos detalladamente antes de ejecutarla fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Detalle_Recepcion ADD
	Calidad_Cafe nvarchar(50) NULL
GO
ALTER TABLE dbo.Detalle_Recepcion ADD CONSTRAINT
	DF_Detalle_Recepcion_Calidad_Cafe DEFAULT N'AP1ra' FOR Calidad_Cafe
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Detalle_Recepcion', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Detalle_Recepcion', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Detalle_Recepcion', 'Object', 'CONTROL') as Contr_Per 